// MAIN COLORS

$Charcoal: #1f1f1f;
$CarbonYellow: #ffde17;
$White: #fff;

// Additional COLORS

$GreyDark: #3a3c45;
$Grey: #898a8a;
$GreyLight: #e7e7e7;

$Lines: #d8d9de;
$BackgroundReport: #f4f5f6;
$BackgroundChart: #eaecee;

$CarbonMidYellow: #ffec71;
$CarbonLightYellow: #fff5b1;
$Sand: #f0e8de;
$Lavender: #b9c2ff;
$Pink: #ff96e5;
$LimeDark: #b4d128;
$Lime: #d0e957;
$Orange: #ffbc01;
$Red: #ff5a43;
$Blue: #2097f6;

$font: "Inter", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
  // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (min-width: 67.5em) {
    font-size: 62.5%;
  }
}

body {
  font-family: $font;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  color: $Grey;
}

ol,
ul {
  list-style: none;
}

a:hover,
a:active {
  cursor: pointer;
}

.pages-links {
  margin: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  a:link,
  a:visited {
    font-family: inherit;
    text-decoration: none;

    color: $Charcoal;
  }

  a:hover,
  a:active {
    text-decoration: underline;
  }
}
