.heading-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: $Charcoal;
}

.heading-4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: $Charcoal;
}

.main-text {
  margin: 0.8rem 0 0 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: $Charcoal;
}
